* {
    font-family: 'Special Elite', monospace;
}

body {
    background-color:rgb(220, 209, 184);
}

.custom-nav {
    background-color: rgb(220, 209, 184) !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    padding-right: 25px;
}

.navbar-brand img {
    height: 100px;
    padding-left: 25px;
}

.nav-item {
    margin: 0px 20px;
    font-size: 1.5rem;
}

.nav-item:hover {
    text-decoration: underline;
}

.nav-cta {
    background-color: beige;
    padding: 5px;
}

.custom-jumbo {
    background-color: rgb(220, 209, 184) !important;
}

.custom-jumbo p {
    font-size: 1.5rem;
}

.section-header {
    padding: 20px 0px;
    font-size: 3rem;
}

.card {
    border: none;
}

.card-title {
    background-color: beige;
    display: inline;
    padding: 5px;
}

.card-body {
    background-color: rgb(220, 209, 184);
}